body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ccc;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  fieldset {
    border: none;
    margin: 20px 0;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: calc(100% - 75px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 2px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .todos-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .todo span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .close {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 8px;
    cursor: pointer;
  }
  
  .close:hover {
    background-color: #d32f2f;
  }